<% content_for :title do %>
  Play -
<% end %>

<% content_for :stylesheet do %>
  <link rel="stylesheet" href="/stylesheets/play.css">
<% end %>

<% content_for :javascript do %>
  <script src="/javascripts/play.js" type="text/javascript"></script>
<% end %>

<% content_for :nav do %>
  <ul>
    <% if session[:user_id] %>
      <li><a href="/account">account</a></li>
      <li><a id="logout" href="/logout">logout</a></li>
    <% else %>
      <li><a href="/login">login</a></li>
    <% end %>
  </ul>
<% end %>

<div id="challenge">
  <p><span class="tag ai">AI</span><span class="tag beta">BETA</span></p>
  <p class="cursive">Challenge: From <span class="print"><%= @first %></span> to <span class="print"><%= @last %></span> in <span class="print"><%= @length %></span> steps or fewer</p>
</div>

<section id="ladder" data-length="<%= @length %>">
  <ul data-n-usr-steps="<%= session[:steps].length %>">
    <li><%= @first %></li>
    <% session[:steps].each do |step| %>
      <li><%= step %></li>
    <% end %>
    <p id="frontendFlash" class="flash-error"></p>
    <% if session[:error] %>
      <p id="backendFlash" class="flash-error">
        <%= session.delete(:error) %>
      </p>
    <% end %>
    <li id="input_li">
      <form action="/step" method="post">
        <fieldset>
          <input type="text" name="step" autocomplete="off" autocorrect="off" autofocus/>
        </fieldset>
      </form>
    </li>
    <li><%= @last %></li>
  </ul>
</section>

<% if session[:success] %>
  <p class="flash-success">
    <%= session.delete(:success) %>
  </p>
<% end %>

<div id="options">
  <ul>
    <li><a href="/new_game">skip</a></li>
    <li><a href="/solutions/<%= @puzzle_id %>">unlock solutions</a></li>
  </ul>
</div>
