<% content_for :title do %>
  Victory! -
<% end %>

<% content_for :stylesheet do %>
  <link rel="stylesheet" href="/stylesheets/play.css">
  <link rel="stylesheet" href="/stylesheets/victory.css">
<% end %>

<% content_for :javascript do %>
<% end %>

<% content_for :nav do %>
  <ul>
    <% if session[:user_id] %>
      <li><a href="/account">account</a></li>
      <li><a id="logout" href="/logout">logout</a></li>
    <% else %>
      <li><a href="/login">login</a></li>
    <% end %>
  </ul>
<% end %>

<div id="challenge">
  <p><span class="tag ai">AI</span><span class="tag beta">BETA</span></p>
  <p class="cursive">Challenge: From <span class="print"><%= @first %></span> to <span class="print"><%= @last %></span> in <span class="print"><%= @length - 1 %></span> steps or fewer</p>
</div>

<section id="ladder" data-length="<%= @length %>">
  <ul data-n-usr-steps="<%= session[:steps].length %>">
    <li><%= @first %></li>
    <% session[:steps].each do |step| %>
      <li><%= step %></li>
    <% end %>
    <!-- <p id="frontendFlash" class="flash-error"></p> -->
    <% if session[:error] %>
      <p id="backendFlash" class="flash-error">
        <%= session.delete(:error) %>
      </p>
    <% end %>
    <li><%= @last %></li>
  </ul>
</section>

<% if session[:success] %>
  <p class="flash-success">
    <%= session.delete(:success) %>
  </p>
<% end %>

<div id="options">
  <ul>
    <li><a href="/new_game">next puzzle</a></li>
    <li><a href="/solutions/<%= session[:puzzle_id] %>">view solution</a></li>
  </ul>
</div>
